@import url("https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap");
:root {
  --primary-color: #10b981;
  --secondary-color: #ddd6fe;
  --off-white: #e5e7eb;
}
body {
  font-family: "Raleway", sans-serif;
  background-color: white;
  color: black;
}
.nav {
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: #10b981;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: black;
}

.nav-header {
  text-align: left;
  color: black;
}

.list-right {
  text-align: right;
}

.list-item {
  display: inline;
  padding: 0.5rem;
}

ul li {
  list-style: none;
}

ul li a {
  color: black;
  text-decoration: none;
}

.btn-bar {
  display: none;
}

.dark {
  border: none;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  margin-left: -0.5rem;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .dark {
  color: black !important;
}

.dark-mode .off-white {
  color: white;
  background-color: #192734;
}

.dark-mode .dark {
  background-color: var(--primary-color);
  color: white;
}

.hero {
  margin: 1rem;
}
.hero .hero-image {
  width: 350px;
  padding: 1rem;
  margin: auto;
  display: block;
}

.hero-header {
  text-align: center;
}

.heading-highlight {
  font-weight: bold;
  color: var(--primary-color);
}

.container {
  margin: auto;
  max-width: 600px;
  text-align: center;
  padding: 2rem 0rem;
  font-weight: 550;
}
.subjects {
  padding-top: 3rem;
}
.off-white {
  background-color: var(--off-white);
}
.link {
  text-decoration: none;
}
.link-active {
  text-decoration: underline;
}
.link-primary {
  border: 1px solid var(--primary-color);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: white;
}
.list-item-inline {
  display: inline;
  margin: 0.5rem;
}
.footer {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  padding: 2.5rem 0rem;
  margin: 1rem;
}
footer ul {
  padding-inline-start: 0px;
}

.footer-heading {
  font-weight: bolder;
  color: white;
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}
.intro {
  text-align: center;
}
.portfolio-header {
  padding-top: 3rem;
  font-size: 2rem;
}

.date {
  font-size: 1.3rem;
}

.cell-header {
  padding-top: 7rem;
  font-size: 2rem;
}
.counter-header {
  font-size: 2rem;
  padding-top: 7rem;
}

.hero-header-1 {
  text-align: center;
  padding-top: 3rem;
  font-size: 2rem;
}
.footer-p {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
  text-align: center;
  padding: 2.5rem 0rem;
  margin: 1rem;
  margin-top: 5rem;
}

.para-1 {
  text-align: center;
  width: 50rem;
}

@media only screen and (max-width: 750px) {
  .hero .hero-image {
    width: 300px;
  }
  .list {
    display: none;
  }
  .list-item {
    display: block;
  }
  .btn-bar {
    display: inline-block;
    font-size: 2rem;
    border: none;
    background: transparent;
  }
  .para-1 {
    width: 16rem;
  }
}
